<h1>Categories</h1>

<div ng-controller="CategoryCtrl">
  <table class="categories-table table table-striped table-hover">
    <caption>
      Categories
    </caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Category Name</th>
        <th scope="col">Description</th>
        <th scope="col">Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in categories">
        <td>{{category.id}}</td>
        <td>{{category.category_name}}</td>
        <td>{{category.description}}</td>
        <td>{{category.picture}}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="table-spacer"/>
